{% extends 'mainapp/base.html' %}

{% block title %}
Arman Express - Main Page
{% endblock %}

{% block content %}
  {% if category_posts %}
    <h1> {{cats}} </h1><hr>
      {% for post in category_posts %}
      <a class="text-decoration-none"  href="{% url 'detailview' post.pk %}">
        <div class="content">
          <h6>{{post.author.username}}</h6>
          {% if post.image %}
            <img class="index-img" src="{{post.image.url}}">
          {% endif %}
          <p class="post-text">{{post.content}}</p>
          {% if user.is_authenticated %}
              <div class="move-div">
                <form method="POST" action="{% url 'like' post.pk %}">
                  {% csrf_token %}
                  <button id="like-btn" class="like-btn-index" type="submit" name="like-post" value="{{ post.id }}"><i class="bi bi-hand-thumbs-up-fill"></i> Like {{ total_likes }}</button>
                </form>
                {%if user.id == post.author.id %}
                  <form method="get" action="{% url 'update' post.pk %}">
                    <button id="btn" class="edit-btn-index" type="submit"><i class="bi bi-pen-fill"></i> Edit</button>
                  </form>
                  <form method="get" action="{% url 'delete' post.pk %}">
                    <button id="del-btn" class="del-btn-index" type="submit"><i class="bi bi-trash3-fill"></i> Delete</button>
                  </form>
                {% endif %}  
              </div>          
          {% endif %}
      </div>
    </a>
    {% endfor %}
  {% else %}
    <h3>There arn't posts in this category</h3>
  {% endif %}
{% endblock %}